body {
    font-family: 'Poppins', sans-serif;
}

.login-card {
    animation: fadeIn 0.6s ease;
}

.error {
    color: red;
    font-size: 0.8rem;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
nav a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    color: yellow;
}
